.card{
    width: 80%;
    height: 10%;
    background-color: green;
    position: absolute;
    margin: 70vh 10% 10% 10%;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 3px solid white;
}

.card_block h1{
    color: purple;
}
.card_block {
    color: orange;
}

@media(max-width:767px){
    .card{
        width: 50%;
        height: 60%;
        background-color: green;
        position: absolute;
        margin: 60vh 25% 20% 25%;
        padding: 1vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 3px solid white;
    }
    
}